<h1>Edit category</h1>

<form action="/admin/categories/edit/{{category._id}}?_method=PUT" method="post"class="col-md-6 col-sm-12">
    <div class="form-group">
        <label for="name">Category Name</label>
        <input value="{{category.name}}" type="text" name="name" placeholder="Enter title" class="form-control">
    </div>
    <button class="btn btn-primary">Update Category</button>
</form>
