<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Blog Home - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link type="text/css" href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for the home page -->
    <link type="text/css" href="/css/blog-home.css" rel="stylesheet">
    <!-- Custom styles for the post single -->
    <link type="text/css" href="/css/blog-post.css" rel="stylesheet">

</head>
<body>
    <!-- Navigation -->
    {{>home/home-nav}}

    <!-- Page Content -->
    <div class="container">
        {{{body}}}
    </div>

    <!-- Footer -->
    {{> home/footer}}

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
